{% extends 'base.html' %}
{% block content %}
{% include 'navbar.html' %}

    <h1 style="text-align: center;">ABOUT US</h1>
    <h3>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic vel quidem fugit quas doloremque quia iure. Molestiae dignissimos eligendi illo, velit obcaecati praesentium sequi iure vel ex, quae laborum rerum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam veniam illo aut accusamus perspiciatis reiciendis, minima voluptates? Quae, temporibus iste. Tempora magnam expedita reiciendis optio tenetur fugit sequi perspiciatis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic vel quidem fugit quas doloremque quia iure. Molestiae dignissimos eligendi illo, velit obcaecati praesentium sequi iure vel ex, quae laborum rerum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam veniam illo aut accusamus perspiciatis reiciendis, minima voluptates? Quae, temporibus iste. Tempora magnam expedita reiciendis optio tenetur fugit sequi perspiciatis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic vel quidem fugit quas doloremque quia iure. Molestiae dignissimos eligendi illo, velit obcaecati praesentium sequi iure vel ex, quae laborum rerum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam veniam illo aut accusamus perspiciatis reiciendis, minima voluptates? Quae, temporibus iste. Tempora magnam expedita reiciendis optio tenetur fugit sequi perspiciatis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic vel quidem fugit quas doloremque quia iure. Molestiae dignissimos eligendi illo, velit obcaecati praesentium sequi iure vel ex, quae laborum rerum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam veniam illo aut accusamus perspiciatis reiciendis, minima voluptates? Quae, temporibus iste. Tempora magnam expedita reiciendis optio tenetur fugit sequi perspiciatis?
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic vel quidem fugit quas doloremque quia iure. Molestiae dignissimos eligendi illo, velit obcaecati praesentium sequi iure vel ex, quae laborum rerum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati aperiam veniam illo aut accusamus perspiciatis reiciendis, minima voluptates? Quae, temporibus iste. Tempora magnam expedita reiciendis optio tenetur fugit sequi perspiciatis?
    </h3>
    <h1>
        Team:
        <ul>
            <li>Ankit Kumar Sharma</li>
            <li>Sakshi Maheshwari</li>
        </ul>
    </h1>
{% include 'footer.html' %}
{% endblock content %}