{% extends 'base.html' %}
{% block title %} About Us | Health++ {% endblock %}

{% block content %}
{% include 'navbar.html' %}

    <div class="container-fluid">
        <h1 style="text-align: center; font-weight: bold;">ABOUT US</h1>
        <hr>
        <h1><b>Health++</b> is an application that helps user to manage their diet and calories consumption. 
            It provides a common platform for dieticians and their patients, so that they can manage a proper diet. 
            <br>
            <br>
            This project is still in development phase, but when it will be released one can be able to use these features:
            <br>
            <ul>
                <li>Visit profiles of other users</li>
                <li>Show more statistics on the profile page</li>
            </ul>
            <br>
            <b>Team:</b>
            <ul>
                <li>Ankit Kumar Sharma</li>
                <li>Sakshi Maheshwari</li>
            </ul>
        </h1>
    </div>
{% include 'footer.html' %}
{% endblock content %}