{% extends 'base.html' %}
{% block title %} About Us | Health++ {% endblock %}

{% block content %}
{% include 'navbar.html' %}

    <div class="container-fluid">
        <h1 style="text-align: center;">ABOUT US</h1>
        <h3>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Mollitia saepe impedit eum quas, ipsam repudiandae vel. Non cum quis magni numquam repellendus unde praesentium eveniet aperiam iure, quibusdam velit totam.
        </h3>
        <h1>
            Team:
            <ul>
                <li>Ankit Kumar Sharma</li>
                <li>Sakshi Maheshwari</li>
            </ul>
        </h1>
    </div>
{% include 'footer.html' %}
{% endblock content %}