{% extends 'base.html' %}
{% block title %} Add User Meal | Health++ {% endblock %}
{% load static %}
{% block content %}

<div class="row" style="text-align: center; margin: 0; padding-left: 550px; padding-top: 150px;">
	<div class="col-md-6">
		<div class="card card-body">
			<h4>
				Add new User Meal here:
			</h4>
			<div style="background-color:rgb(128, 128, 128); height: 3px;"></div>
			<br>
			<form action="" method="POST">
				{% csrf_token %}
				{{ form.management_form }}
				{% for field in form %}
					{{field}}
					<hr>
				{% endfor %}
				
				<input type="submit" name="Submit">
			</form>

		</div>
	</div>
</div>


{% endblock %}