{% extends 'base.html' %}
{% load static %}

{% block title %} Login | Health++ {% endblock %}
{% block content %}
    <div class="fullscr">
        <div class="box infodiv">
            <a href="{% url 'home' %}" style="text-decoration: none;">
                <div class="back-but">
                    <span style="color: white;">
                        <i class="fa fa-arrow-circle-left" style="color: #eee;"></i> &nbsp;&nbsp;Back to Home
                    </span>
                </div>
            </a>
            <div style="padding: 70px; color: #eee; font-size: 1.5em; text-align: center;">
                <br>
                <br>
                <br>
                <img src="{% static 'images/logo.png' %}" alt="Health++ Logo" width="250px">
                <br>
                <br>
                <br>
                <p class="noselect">Health++ is an application that helps user to manage their diet and calories consumption. 
                    It provides a common platform for dieticians and their patients, so that they can manage a proper diet. </p>
            </div>
        </div>
        <div class="box formdiv">
            <div style="padding: 30px;">
                <div class="slider-parent">
                    <div class="slider temp tog-active" onclick="togglelogin(0)">
                        Login
                    </div><div class="slider temp" onclick="togglelogin(1)">
                        Signup
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="form-content">
                    <form name="login-form" action="/login/" method="post">
                        {% csrf_token %}
                        <span class="noselect">Username:</span>
                        <br>
                        <input type="text" class="textbox" id="username" name="username">
                        <br>
                        <br>
                        <span class="noselect">Password:</span>
                        <br>
                        <input type="password" class="textbox" id="password" name="password">
                        <br>
                        <br>
                        <br>
                        <div class="form-but-holder">
                            <input type="submit" value="Login" class="form-but">
                        </div>
                        <br>
                        <div class="noselect fpass">
                            <span>
                                Forgot Password?
                            </span>
                        </div>
                        <br>
                        <br>
                        <div style="text-align: inherit; color: yellow;">
                            <!-- <h6>
                                Possible errors:
                            </h6> -->
                            <ul>
                            {% for error in messages %}
                                <li>{{ error }}</li>
                                <!-- <br> -->
                            {% endfor %}
                            </ul>
                        </div>
                    </form>  
                </div>
                <div class="form-content" style="display: none;">
                    <form name="signup-form" action="/register/" method="post">
                        {% csrf_token %}
                        <span class="noselect">Username:</span>
                        <br>
                        <input type="text" class="textbox" id="username-reg" name="username-reg">
                        <br>
                        <br>
                        <span class="noselect">Name:</span>
                        <br>
                        <input type="text" class="textbox" id="fname" name="fname">
                        <br>
                        <br>
                        <span class="noselect">Email:</span>
                        <br>
                        <input type="email" class="textbox" id="email-reg" name="email-reg">
                        <br>
                        <br>
                        <span class="noselect">Password:</span>
                        <br>
                        <input type="password" class="textbox" id="password-reg" name="password-reg">
                        <br>
                        <br>
                        <br>
                        <div class="form-but-holder">
                            <input type="submit" value="Signup" class="form-but">
                        </div>
                        <br>

                        <div style="text-align: center; color: yellow;">
                            <ul>
                                {% for error in messages %}
                                    <li>{{ error }}</li>
                                    <!-- <br> -->
                                {% endfor %}
                                </ul>
                        </div>
                    </form>
                </div>
            </div>

            {% if goto_signup %}
            <script>
                // console.log("Hey")
                togglelogin(1)
            </script>
            {% endif %}
        </div>
    </div>

{% endblock content %}