{% load static %}

<nav class="navbar navbar-expand-md" style="background-color: rgba(0, 0, 0, 0.18); height: fit-content; padding: 50px;">
    <a href="{% url 'home' %}" class="navbar-brand">
        <img src="{% static 'images/logo.png' %}" alt="Health++ Logo" width="250px">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    {% if user.is_authenticated %}
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a href="{% url 'dashboard' %}" class="nav-item nav-link {% if request.resolver_match.url_name == "dashboard" %}active{% endif %}" style="margin-right: 30px;">Dashboard</a>
            <a href="{% url 'profile' %}" class="nav-item nav-link {% if request.resolver_match.url_name == "profile" %}active{% endif %}" style="margin-right: 30px;">Profile</a>
            <a href="{% url 'about' %}" class="nav-item nav-link {% if request.resolver_match.url_name == "about" %}active{% endif %}" style="margin-right: 80px;">About</a>
            <a href="{% url 'logout' %}"><button type="button" class="butn">Logout</button></a>
        </div>
    </div>
    {% else %}
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ml-auto">
            <a href="{% url 'home' %}" class="nav-item nav-link {% if request.resolver_match.url_name == "home" %}active{% endif %}" style="margin-right: 30px;">Home</a>
            <a href="{% url 'about' %}" class="nav-item nav-link {% if request.resolver_match.url_name == "about" %}active{% endif %}" style="margin-right: 80px;">About</a>
            <a href="{% url 'login' %}"><button type="button" class="butn">Login</button></a>
        </div>
    </div>
    {% endif %}
</nav>