{% extends 'base.html' %}
{% load chartkick %}
{% load static %}
{% block title %} Profile | Health++ {% endblock %}

{% block content %}
{% include 'navbar.html' %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script src="{% static 'js/chartkick.js' %}"></script>

<div style="text-align: center;">
    <h1 style="font-weight: bold;">PROFILE</h1>
    <hr>
    <span style="font-size: 2rem; text-align: center;">Welcome, <b>{{ user.first_name }}</b>!</span><br>
    <span style="font-size: 2rem; text-align: center;"><b>Username:</b> {{ user.username }}.</span><br>
    <span style="font-size: 2rem; text-align: center;"><b>Email:</b> {{ user.email }}.</span><br>

    <hr>
</div>
<div style="background-color: rgb(214, 214, 214); ">
    <h1 style="font-weight: bold;">Diet History:</h1>
    <div style="text-align: center;">
        {% if zero %}
            <h1>No history yet!</h1>
        {% else %}
            {% pie_chart data %}
        {% endif %}
    </div>
    <br>
</div>

{% include 'footer.html' %}
{% endblock content %}